
.sidebar-show {
  overflow-x: hidden; }
  .sidebar-show .sidebar {
    left: 0;
    opacity: 1; }
  .sidebar-show .content {
    transform: translateX(260px); }

.sidebar {
  position: fixed;
  top: 0;
  left: -260px;
  width: 260px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 999;
  opacity: 0; }
  @media (min-width: 992px) {
    .sidebar {
      left: 0;
      opacity: 1; } }
  .sidebar.minimized {
    width: 60px; }
    .sidebar.minimized .sidebar-header {
      padding-left: 10px;
      padding-right: 10px; }
    .sidebar.minimized .sidebar-logo {
      margin-left: 2px; }
    .sidebar.minimized .sidebar-logo-text {
      visibility: hidden;
      opacity: 0; }
    .sidebar.minimized .sidebar-search {
      padding-left: 10px;
      padding-right: 10px; }
    .sidebar.minimized .search-body svg {
      margin-right: 0; }
    .sidebar.minimized .search-body .form-control {
      visibility: hidden;
      opacity: 0; }
    .sidebar.minimized .nav-sidebar {
      padding-left: 10px;
      padding-right: 10px; }
      .sidebar.minimized .nav-sidebar .nav-link svg {
        margin-right: 0; }
      .sidebar.minimized .nav-sidebar .nav-link span {
        visibility: hidden;
        opacity: 0; }
    .sidebar.minimized .nav-sub {
      visibility: hidden;
      opacity: 0; }
    .sidebar.minimized .sub-link {
      padding-top: 0;
      padding-bottom: 0;
      height: 0; }
    .sidebar.minimized .sidebar-footer {
      padding-left: 10px;
      padding-right: 10px; }
    .sidebar.minimized .avatar {
      margin-left: 2px; }
    .sidebar.minimized .avatar-body {
      visibility: hidden;
      opacity: 0;
      width: 0; }
    .sidebar.minimized .footer-menu {
      display: none; }
    .sidebar.minimized + .content {
      margin-left: 60px; }
    .sidebar.minimized .nav-group.show {
      padding-top: 20px; }
      .sidebar.minimized .nav-group.show .nav-group-label {
        display: none; }
    .sidebar.minimized .nav-group:not(.show) {
      display: none; }
  .sidebar.minimized.expand {
    width: 260px; }
    .sidebar.minimized.expand .sidebar-header {
      padding-left: 20px;
      padding-right: 20px; }
    .sidebar.minimized.expand .sidebar-logo {
      margin-left: 0; }
    .sidebar.minimized.expand .sidebar-logo-text {
      visibility: visible;
      opacity: 1; }
    .sidebar.minimized.expand .sidebar-search {
      padding-left: 20px;
      padding-right: 20px; }
    .sidebar.minimized.expand .search-body svg {
      margin-right: 12px; }
    .sidebar.minimized.expand .search-body .form-control {
      visibility: visible;
      opacity: 1; }
    .sidebar.minimized.expand .nav-sidebar {
      padding-left: 20px;
      padding-right: 20px; }
      .sidebar.minimized.expand .nav-sidebar .nav-link svg {
        margin-right: 12px; }
      .sidebar.minimized.expand .nav-sidebar .nav-link span {
        visibility: visible;
        opacity: 1; }
    .sidebar.minimized.expand .nav-sub {
      visibility: visible;
      opacity: 1; }
    .sidebar.minimized.expand .sub-link {
      padding-top: 5px;
      padding-bottom: 5px;
      height: 32px; }
    .sidebar.minimized.expand .nav-group.show {
      padding-top: 0; }
      .sidebar.minimized.expand .nav-group.show .nav-group-label {
        display: flex; }
    .sidebar.minimized.expand .nav-group:not(.show) {
      display: block; }
    .sidebar.minimized.expand .nav-group .nav-sidebar {
      padding-left: 10px;
      padding-right: 10px; }
    .sidebar.minimized.expand .sidebar-footer {
      padding-left: 20px;
      padding-right: 20px; }
    .sidebar.minimized.expand .avatar {
      margin-left: 0; }
    .sidebar.minimized.expand .avatar-body {
      visibility: visible;
      opacity: 1;
      width: auto; }
    .sidebar.minimized.expand .footer-menu {
      display: flex; }
  .sidebar hr {
    margin: 0 30px;
    opacity: 1; }

.sidebar-header {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 70px; }

.sidebar-logo {
  padding: 0 8px; }
  .sidebar-logo span {
    display: block;
    position: relative;
    width: 20px;
    height: 2.5px;
    border-radius: 3px; }
    .sidebar-logo span::before, .sidebar-logo span::after {
      content: '';
      position: absolute;
      width: 12px;
      height: 2.5px;
      border-radius: inherit; }
    .sidebar-logo span::before {
      top: -5px;
      right: 2px; }
    .sidebar-logo span::after {
      bottom: -5px;
      left: 2px; }

.sidebar-logo-text {
  margin-left: 5px;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: -1px;
  white-space: nowrap; }
  .sidebar-logo-text span {
    display: inline-block;
    font-weight: 600; }

.sidebar-search {
  flex-shrink: 0;
  padding: 0 20px; }

.search-body {
  padding-left: 8px;
  display: flex;
  align-items: center;
  height: 40px;
  border: 1.5px solid transparent;
  border-radius: 6px; }
  .search-body svg {
    width: 20px;
    height: 20px;
    stroke-width: 2.5px;
    flex-shrink: 0;
    margin-right: 13px; }
  .search-body .form-control {
    flex: 1;
    align-self: stretch;
    border-width: 0;
    padding: 0;
    background-color: transparent; }
    .search-body .form-control:focus, .search-body .form-control:active {
      outline: none; }
    .search-body .form-control::placeholder {
      text-shadow: none;
      opacity: 1; }

.sidebar-body {
  height: calc(100% - 180px);
  position: relative;
  overflow: hidden; }
  .sidebar-body.pt-20 {
    padding-top: 20px; }

.nav-sidebar {
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column; }
  .nav-sidebar .nav-item {
    list-style: none; }
    .nav-sidebar .nav-item.active .nav-link {
      font-weight: 500;
      letter-spacing: -.1px; }
    .nav-sidebar .nav-item.show .with-sub::after {
      transform: rotate(90deg); }
    .nav-sidebar .nav-item.show .nav-sub {
      display: flex; }
  .nav-sidebar .nav-link {
    height: 40px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    white-space: nowrap; }
    .nav-sidebar .nav-link + .nav-link {
      margin-top: 2px; }
    .nav-sidebar .nav-link svg {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      margin-right: 12px; }
    .nav-sidebar .nav-link.with-sub::after {
      content: '\EA6E';
      font-family: 'remixicon';
      font-weight: 400;
      font-size: 16px;
      display: inline-block;
      margin-left: auto;
      opacity: .6;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    .nav-sidebar .nav-link.active {
      font-weight: 500; }
  .nav-sidebar.style-two .nav-item.active .nav-link::before {
    display: block; }
  .nav-sidebar.style-two .nav-item.active .sub-link.active::before {
    display: block; }
  .nav-sidebar.style-two .nav-link {
    position: relative; }
    .nav-sidebar.style-two .nav-link::before {
      content: '';
      position: absolute;
      top: 5px;
      bottom: 5px;
      left: -20px;
      width: 3px;
      display: none; }
    .nav-sidebar.style-two .nav-link.active::before {
      display: block; }
  .nav-sidebar.style-two .sub-link::before {
    content: '';
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: -22px;
    width: 1px;
    display: none; }
  .nav-sidebar.style-three .nav-item.active .nav-link::before {
    display: block; }
  .nav-sidebar.style-three .nav-item.active .sub-link.active::before {
    display: block; }
  .nav-sidebar.style-three .nav-link {
    position: relative;
    align-items: center; }
    .nav-sidebar.style-three .nav-link::before {
      content: '';
      position: absolute;
      top: calc(50% - .75px);
      left: -20px;
      width: 20px;
      height: 1.5px;
      display: none; }
    .nav-sidebar.style-three .nav-link:not(.with-sub)::after {
      content: '';
      position: relative;
      flex: 1;
      height: 1.5px;
      margin-left: 15px;
      display: none; }
    .nav-sidebar.style-three .nav-link.active::before, .nav-sidebar.style-three .nav-link.active::after {
      display: block; }
  .nav-sidebar.style-three .sub-link::before {
    content: '';
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: -22px;
    width: 1px;
    display: none; }

.nav-sub {
  display: none;
  flex-direction: column;
  margin-left: 20px;
  padding-left: 22px;
  position: relative; }
  .nav-sub::before {
    content: '';
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 0;
    border-left: 1px solid transparent; }

.sub-link {
  height: 32px;
  padding: 5px 0;
  position: relative;
  display: flex;
  color: var(--bs-nav-link-color);
  text-decoration:none;
  align-items: center; }
  .sub-link.active {
    font-weight: 500; }

.nav-group {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent; }
  .nav-group .nav-sidebar {
    transform: translateY(-8px);
    padding: 0 10px 10px;
    display: none; }
    .nav-group .nav-sidebar.style-two .nav-link::before {
      left: -10px; }
  .nav-group + .nav-group {
    margin-top: -1px; }
  .nav-group.show .nav-sidebar {
    display: flex; }
  .nav-group.show .nav-group-label::after {
    transform: rotate(180deg); }

.nav-group-label {
  padding: 15px 20px;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer; }
  .nav-group-label::after {
    content: '\EA4E';
    font-family: 'remixicon';
    font-weight: 400;
    font-size: 16px;
    opacity: .75;
    margin-right: -2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.sidebar-footer {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  height: 70px;
  position: relative; }

.avatar {
  flex-shrink: 0;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  position: relative; }
  .avatar.online::after {
    content: '';
    position: absolute;
    bottom: 2px;
    right: 2px;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #01a81d;
    box-shadow: 0 0 0 2px #fff; }

.avatar-initial {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.avatar-body {
  flex: 1;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden; }
  .avatar-body h6 {
    font-weight: 600;
    margin-bottom: 0; }
  .avatar-body span {
    display: block;
    font-size: 12px; }

.footer-menu {
  display: block;
  font-size: 18px;
  border-radius: 5px;
  line-height: 1; }

.content {
  position: relative;
  min-height: 100vh; }
  @media (min-width: 992px) {
    .content {
      margin-left: 260px; } }

.content_footer {
  position: relative; }
  @media (min-width: 992px) {
    .content_footer {
      margin-left: 260px; } }

/*.content-header {
  padding-top: 10px;
    padding-right: 35px;
    padding-bottom: 0px;
    padding-left: 10px;
  position: relative; }*/
.content-header {
    padding: 20px 25px;
    position: relative;
}
.content-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 32px;
  border-radius: 4px; }
  .content-menu svg {
    width: 20px;
    height: 20px;
    stroke-width: 2.5px; }

.content-body {
  padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px; }
  .content-body .nav {
    display: flex;
    flex-wrap: wrap; }
  .content-body .nav-link {
    display: block;
    padding: 8px 20px;
    border: 1.5px solid transparent;
    border-radius: 6px;
    white-space: nowrap;
    margin-right: 10px;
    /*margin-bottom: 10px;*/
    }

.content-label {
  display: block;
  margin-bottom: 15px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px; }

.content-menu {
  color: #627293;
	text-decoration: none;  }
  .content-menu:hover {
    background-color: #e9ebf0;
    color: #627293;
text-decoration: none;	}

/*.content-body .nav-link {
  background-color: #f7f9fc;
  border-color: #cacfd9;
  color: #627293; }
  .content-body .nav-link:hover, .content-body .nav-link:focus {
    border-color: #9aa6be; }
  .content-body .nav-link.active {
    background-color: #fff;
    border-color: #627293;
    color: #223458;
    font-weight: 500;
    box-shadow: 0 1px 1px rgba(202, 207, 217, 0.25), 0 2px 2px rgba(202, 207, 217, 0.2), 0 4px 4px rgba(202, 207, 217, 0.15); }
*/
/*.content-label {
  color: #9aa6be; }

.skin-base {
   }
  .skin-base .sidebar {
    background-color: #fff;
    box-shadow: 1px 0 1px rgba(216, 222, 230, 0.25), 2px 0 2px rgba(216, 222, 230, 0.2), 4px 0 4px rgba(216, 222, 230, 0.15), 8px 0 8px rgba(216, 222, 230, 0.1), 16px 0 16px rgba(216, 222, 230, 0.05); }
    .skin-base .sidebar hr {
      background-color: #e9ebf0; }
  .skin-base .sidebar-logo span {
    background-color: #14274E; }
    .skin-base .sidebar-logo span::before, .skin-base .sidebar-logo span::after {
      background-color: rgba(57, 72, 103, 0.75); }
  .skin-base .sidebar-logo-text {
    color: #14274E; }
    .skin-base .sidebar-logo-text span {
      color: #394867; }
  .skin-base .search-body {
    background-color: #f7f9fc; }
    .skin-base .search-body svg {
      color: #627293; }
    .skin-base .search-body .form-control::placeholder {
      color: #9aa6be; }
    .skin-base .search-body.onfocus {
      background-color: #fff;
      border-color: #627293;
      box-shadow: 0 1px 1px rgba(216, 222, 230, 0.25), 0 2px 2px rgba(216, 222, 230, 0.2), 0 4px 4px rgba(216, 222, 230, 0.15); }
    .skin-base .search-body.onhover {
      background-color: rgba(233, 235, 240, 0.6); }
  .skin-base .nav-sidebar .nav-item.active .nav-link {
    color: #14274E; }
    .skin-base .nav-sidebar .nav-item.active .nav-link svg {
      color: #14274E;
      fill: rgba(20, 39, 78, 0.12); }
  .skin-base .nav-sidebar .nav-link {
    color: #627293; }
    .skin-base .nav-sidebar .nav-link:hover, .skin-base .nav-sidebar .nav-link:focus {
      color: #14274E; }
    .skin-base .nav-sidebar .nav-link.active {
      color: #14274E; }
      .skin-base .nav-sidebar .nav-link.active svg {
        color: #14274E;
        fill: rgba(20, 39, 78, 0.12); }
  .skin-base .nav-sidebar.style-one .nav-item.active .nav-link {
    color: #14274E;
    background-color: #e9ebf0; }
    .skin-base .nav-sidebar.style-one .nav-item.active .nav-link svg {
      fill: none; }
  .skin-base .nav-sidebar.style-one .nav-link {
    color: #394867; }
    .skin-base .nav-sidebar.style-one .nav-link:hover, .skin-base .nav-sidebar.style-one .nav-link:focus {
      background-color: #f7f9fc;
      color: #394867; }
    .skin-base .nav-sidebar.style-one .nav-link.active {
      background-color: #e9ebf0; }
      .skin-base .nav-sidebar.style-one .nav-link.active svg {
        fill: none; }
  .skin-base .nav-sidebar.style-two .nav-link::before,
  .skin-base .nav-sidebar.style-two .sub-link::before {
    background-color: #14274E; }
  .skin-base .nav-sidebar.style-three .nav-link::before,
  .skin-base .nav-sidebar.style-three .nav-link:not(.with-sub)::after,
  .skin-base .nav-sidebar.style-three .sub-link::before {
    background-color: #14274E; }
  .skin-base .nav-sidebar.style-two .nav-sub::before, .skin-base .nav-sidebar.style-three .nav-sub::before {
    border-color: rgba(216, 222, 230, 0.6); }
  .skin-base .sub-link {
    color: #627293; }
    .skin-base .sub-link:hover, .skin-base .sub-link:focus {
      color: #394867; }
    .skin-base .sub-link.active {
      color: #394867; }
  .skin-base .nav-group {
    border-top-color: #d8dee6;
    border-bottom-color: #d8dee6; }
  .skin-base .nav-group-label {
    color: #627293; }
  .skin-base .sidebar-footer {
    background-image: linear-gradient(transparent, rgba(255, 255, 255, 0.5) 50%, #fff); }
  .skin-base .avatar-initial {
    background-color: #223458;
    color: #fff; }
  .skin-base .avatar-body h6 {
    color: #14274E; }
  .skin-base .avatar-body span {
    color: #627293; }
  .skin-base .footer-menu {
    color: #627293; }
    .skin-base .footer-menu:hover {
      color: #394867; }

.skin-blue {
  background-color: #fff; }
  .skin-blue .sidebar {
    background-color: #f7f9fd; }
    .skin-blue .sidebar hr {
      background-color: #e3eaf8; }
  .skin-blue .sidebar-logo span {
    background-color: #0d6efd; }
    .skin-blue .sidebar-logo span::before, .skin-blue .sidebar-logo span::after {
      background-color: #0d6efd;
      opacity: .75; }
  .skin-blue .sidebar-logo-text {
    color: #14274E; }
    .skin-blue .sidebar-logo-text span {
      color: #0d6efd; }
  .skin-blue .search-body {
    background-color: #fff;
    border-color: #cacfd9; }
    .skin-blue .search-body svg {
      color: #627293; }
    .skin-blue .search-body .form-control::placeholder {
      color: #9aa6be; }
    .skin-blue .search-body.onfocus {
      border-color: rgba(13, 110, 253, 0.75);
      box-shadow: 0 1px 1px rgba(216, 222, 230, 0.25), 0 2px 2px rgba(216, 222, 230, 0.2), 0 4px 4px rgba(216, 222, 230, 0.15); }
      .skin-blue .search-body.onfocus svg {
        color: #0d6efd; }
    .skin-blue .search-body.onhover {
      border-color: rgba(154, 166, 190, 0.6); }
  .skin-blue .nav-sidebar .nav-item.active .nav-link {
    color: #0d6efd; }
    .skin-blue .nav-sidebar .nav-item.active .nav-link svg {
      color: #0d6efd;
      fill: rgba(13, 110, 253, 0.12); }
  .skin-blue .nav-sidebar .nav-link {
    color: #394867; }
    .skin-blue .nav-sidebar .nav-link:hover, .skin-blue .nav-sidebar .nav-link:focus {
      color: #0d6efd; }
    .skin-blue .nav-sidebar .nav-link.active {
      color: #0d6efd; }
      .skin-blue .nav-sidebar .nav-link.active svg {
        color: #0d6efd;
        fill: rgba(13, 110, 253, 0.12); }
  .skin-blue .nav-sidebar.style-one .nav-item.active .nav-link {
    color: #0d6efd;
    background-color: rgba(13, 110, 253, 0.1); }
    .skin-blue .nav-sidebar.style-one .nav-item.active .nav-link svg {
      fill: none; }
  .skin-blue .nav-sidebar.style-one .nav-link {
    color: #394867; }
    .skin-blue .nav-sidebar.style-one .nav-link:hover, .skin-blue .nav-sidebar.style-one .nav-link:focus {
      background-color: rgba(13, 110, 253, 0.04);
      color: rgba(13, 110, 253, 0.85); }
    .skin-blue .nav-sidebar.style-one .nav-link.active {
      background-color: rgba(13, 110, 253, 0.1);
      color: #0d6efd; }
      .skin-blue .nav-sidebar.style-one .nav-link.active svg {
        fill: none; }
  .skin-blue .nav-sidebar.style-two .nav-link::before,
  .skin-blue .nav-sidebar.style-two .sub-link::before {
    background-color: #0d6efd; }
  .skin-blue .nav-sidebar.style-three .nav-link::before,
  .skin-blue .nav-sidebar.style-three .nav-link:not(.with-sub)::after,
  .skin-blue .nav-sidebar.style-three .sub-link::before {
    background-color: #0d6efd; }
  .skin-blue .nav-sidebar.style-two .nav-sub::before, .skin-blue .nav-sidebar.style-three .nav-sub::before {
    border-color: rgba(216, 222, 230, 0.6); }
  .skin-blue .sub-link {
    color: #627293; }
    .skin-blue .sub-link:hover, .skin-blue .sub-link:focus {
      color: rgba(13, 110, 253, 0.75); }
    .skin-blue .sub-link.active {
      color: rgba(13, 110, 253, 0.85); }
  .skin-blue .nav-group {
    border-top-color: #d8dee6;
    border-bottom-color: #d8dee6; }
  .skin-blue .nav-group-label {
    color: #627293; }
  .skin-blue .avatar-initial {
    background-color: #223458;
    color: #fff; }
  .skin-blue .avatar-body h6 {
    color: #14274E; }
  .skin-blue .avatar-body span {
    color: #627293; }
  .skin-blue .footer-menu {
    color: #627293; }
    .skin-blue .footer-menu:hover {
      color: #0d6efd; }
  .skin-blue .content {
    position: relative;
    z-index: 800;
    box-shadow: -1px 0 1px rgba(216, 222, 230, 0.22), -2px 0 2px rgba(216, 222, 230, 0.17), -4px 0 4px rgba(216, 222, 230, 0.12), -8px 0 8px rgba(216, 222, 230, 0.07), -16px 0 16px rgba(216, 222, 230, 0.02); }

.skin-dark {
  background-color: #f7f9fd; }
  .skin-dark .sidebar {
    background-color: #14274E;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
    .skin-dark .sidebar hr {
      background-color: rgba(34, 52, 88, 0.6); }
  .skin-dark .sidebar-logo span {
    background-color: #0d6efd; }
    .skin-dark .sidebar-logo span::before, .skin-dark .sidebar-logo span::after {
      background-color: #408cfd; }
  .skin-dark .sidebar-logo-text {
    color: #f7f9fc; }
    .skin-dark .sidebar-logo-text span {
      color: #0d6efd; }
  .skin-dark .search-body {
    background-color: rgba(34, 52, 88, 0.6); }
    .skin-dark .search-body svg {
      color: #627293;
      stroke-width: 1.5px; }
    .skin-dark .search-body .form-control {
      color: #f7f9fc; }
    .skin-dark .search-body .form-control::placeholder {
      color: #627293; }
    .skin-dark .search-body.onfocus {
      background-color: transparent;
      border-color: #394867; }
    .skin-dark .search-body.onhover {
      background-color: rgba(34, 52, 88, 0.4); }
  .skin-dark .nav-sidebar .nav-item.active .nav-link {
    color: #f7f9fc; }
    .skin-dark .nav-sidebar .nav-item.active .nav-link svg {
      color: #f7f9fc;
      fill: rgba(247, 249, 252, 0.12); }
  .skin-dark .nav-sidebar .nav-link {
    color: #627293; }
    .skin-dark .nav-sidebar .nav-link:hover, .skin-dark .nav-sidebar .nav-link:focus {
      color: #f7f9fc; }
    .skin-dark .nav-sidebar .nav-link svg {
      stroke-width: 1.5px; }
    .skin-dark .nav-sidebar .nav-link.active {
      color: #f7f9fc; }
      .skin-dark .nav-sidebar .nav-link.active svg {
        color: #f7f9fc;
        fill: rgba(247, 249, 252, 0.12); }
  .skin-dark .nav-sidebar.style-one .nav-item.active .nav-link {
    color: #f7f9fc;
    background-color: #223458; }
    .skin-dark .nav-sidebar.style-one .nav-item.active .nav-link svg {
      fill: none; }
  .skin-dark .nav-sidebar.style-one .nav-link {
    color: #627293; }
    .skin-dark .nav-sidebar.style-one .nav-link:hover, .skin-dark .nav-sidebar.style-one .nav-link:focus {
      background-color: rgba(34, 52, 88, 0.3);
      color: #f7f9fc; }
    .skin-dark .nav-sidebar.style-one .nav-link.active {
      background-color: #223458;
      color: #f7f9fc; }
      .skin-dark .nav-sidebar.style-one .nav-link.active svg {
        fill: none; }
  .skin-dark .nav-sidebar.style-two .nav-link::before,
  .skin-dark .nav-sidebar.style-two .sub-link::before {
    background-color: #f7f9fc; }
  .skin-dark .nav-sidebar.style-three .nav-link::before,
  .skin-dark .nav-sidebar.style-three .nav-link:not(.with-sub)::after,
  .skin-dark .nav-sidebar.style-three .sub-link::before {
    background-color: #627293; }
  .skin-dark .nav-sidebar.style-two .nav-sub::before, .skin-dark .nav-sidebar.style-three .nav-sub::before {
    border-color: #223458; }
  .skin-dark .sub-link {
    color: #627293; }
    .skin-dark .sub-link:hover, .skin-dark .sub-link:focus {
      color: #9aa6be; }
    .skin-dark .sub-link.active {
      color: #f7f9fc; }
  .skin-dark .nav-group {
    border-top-color: rgba(34, 52, 88, 0.6);
    border-bottom-color: rgba(34, 52, 88, 0.6); }
  .skin-dark .nav-group-label {
    color: #627293; }
  .skin-dark .avatar.online::after {
    box-shadow: 0 0 0 2px #14274E; }
  .skin-dark .avatar-initial {
    background-color: #0d6efd;
    color: #fff; }
  .skin-dark .avatar-body h6 {
    color: #f7f9fc; }
  .skin-dark .avatar-body span {
    color: #627293; }
  .skin-dark .footer-menu {
    color: #627293; }
    .skin-dark .footer-menu:hover {
      color: #394867; }

.skin-red {
  background-color: #f7f9fd; }
  .skin-red .sidebar {
    background-color: #1f2d3e;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
    .skin-red .sidebar hr {
      background-color: #28394f; }
  .skin-red .sidebar-logo span {
    background-color: #EA5455; }
    .skin-red .sidebar-logo span::before, .skin-red .sidebar-logo span::after {
      background-color: #F07B3F; }
  .skin-red .sidebar-logo-text {
    color: #f7f9fc; }
    .skin-red .sidebar-logo-text span {
      color: #EA5455; }
  .skin-red .search-body {
    background-color: transparent;
    border-color: rgba(98, 114, 147, 0.6); }
    .skin-red .search-body svg {
      color: #627293;
      stroke-width: 1.5px; }
    .skin-red .search-body .form-control {
      color: #f7f9fc; }
    .skin-red .search-body .form-control::placeholder {
      color: #627293; }
    .skin-red .search-body.onfocus {
      background-color: transparent;
      border-color: #627293; }
    .skin-red .search-body.onhover {
      border-color: #627293; }
  .skin-red .nav-sidebar .nav-item.active .nav-link {
    color: #fd393a; }
    .skin-red .nav-sidebar .nav-item.active .nav-link svg {
      color: #fd393a; }
  .skin-red .nav-sidebar .nav-link {
    color: #627293; }
    .skin-red .nav-sidebar .nav-link:hover, .skin-red .nav-sidebar .nav-link:focus {
      color: #9aa6be; }
    .skin-red .nav-sidebar .nav-link svg {
      stroke-width: 1.5px; }
    .skin-red .nav-sidebar .nav-link.active {
      color: #fd393a; }
      .skin-red .nav-sidebar .nav-link.active svg {
        color: #fd393a; }
  .skin-red .nav-sidebar.style-one .nav-item.active .nav-link {
    color: #fff;
    background-color: #fd393a; }
    .skin-red .nav-sidebar.style-one .nav-item.active .nav-link svg {
      fill: none;
      color: #fff; }
  .skin-red .nav-sidebar.style-one .nav-link {
    color: #627293; }
    .skin-red .nav-sidebar.style-one .nav-link:hover, .skin-red .nav-sidebar.style-one .nav-link:focus {
      background-color: #223245;
      color: #9aa6be; }
    .skin-red .nav-sidebar.style-one .nav-link.active {
      background-color: #fd393a;
      color: #fff; }
      .skin-red .nav-sidebar.style-one .nav-link.active svg {
        fill: none;
        color: #fff; }
  .skin-red .nav-sidebar.style-two .nav-link::before {
    background-color: #fd393a; }
  .skin-red .nav-sidebar.style-two .sub-link::before {
    background-color: #cacfd9; }
  .skin-red .nav-sidebar.style-three .nav-link::before,
  .skin-red .nav-sidebar.style-three .nav-link:not(.with-sub)::after {
    background-color: #fd393a; }
  .skin-red .nav-sidebar.style-three .sub-link::before {
    background-color: #cacfd9; }
  .skin-red .nav-sidebar.style-two .nav-sub::before, .skin-red .nav-sidebar.style-three .nav-sub::before {
    border-color: rgba(247, 249, 252, 0.1); }
  .skin-red .sub-link {
    color: #627293; }
    .skin-red .sub-link:hover, .skin-red .sub-link:focus {
      color: #9aa6be; }
    .skin-red .sub-link.active {
      color: #cacfd9; }
  .skin-red .nav-group {
    border-top-color: #394867;
    border-bottom-color: #394867; }
  .skin-red .nav-group-label {
    color: #627293; }
  .skin-red .avatar.online::after {
    box-shadow: 0 0 0 2px #1f2d3e; }
  .skin-red .avatar-initial {
    background-color: #fec631;
    color: #1f2d3e; }
  .skin-red .avatar-body h6 {
    color: #f7f9fc; }
  .skin-red .avatar-body span {
    color: #627293; }
  .skin-red .footer-menu {
    color: #627293; }
    .skin-red .footer-menu:hover {
      color: #394867; }

.skin-indigo {
  background-color: #f7f9fd; }
  .skin-indigo .sidebar {
    background-color: #4A4DE7;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
    .skin-indigo .sidebar hr {
      background-color: rgba(255, 255, 255, 0.08); }
  .skin-indigo .sidebar-logo span {
    background-color: #F1FAFB; }
    .skin-indigo .sidebar-logo span::before {
      background-color: #7EA6F4; }
    .skin-indigo .sidebar-logo span::after {
      background-color: #A0E4F1; }
  .skin-indigo .sidebar-logo-text {
    color: #fff; }
    .skin-indigo .sidebar-logo-text span {
      color: #7EA6F4;
      opacity: 1; }
  .skin-indigo .search-body {
    background-color: rgba(126, 166, 244, 0.1); }
    .skin-indigo .search-body svg {
      color: rgba(126, 166, 244, 0.6);
      stroke-width: 2px; }
    .skin-indigo .search-body .form-control {
      color: #fff; }
    .skin-indigo .search-body .form-control::placeholder {
      color: rgba(126, 166, 244, 0.6); }
    .skin-indigo .search-body.onfocus {
      background-color: transparent;
      border-color: #7EA6F4; }
      .skin-indigo .search-body.onfocus svg {
        color: #7EA6F4; }
    .skin-indigo .search-body.onhover {
      background-color: rgba(126, 166, 244, 0.2); }
  .skin-indigo .nav-sidebar .nav-item.active .nav-link {
    color: #fff; }
    .skin-indigo .nav-sidebar .nav-item.active .nav-link svg {
      color: #fff;
      fill: rgba(255, 255, 255, 0.12); }
  .skin-indigo .nav-sidebar .nav-link {
    color: #7EA6F4; }
    .skin-indigo .nav-sidebar .nav-link:hover, .skin-indigo .nav-sidebar .nav-link:focus {
      color: #A0E4F1; }
    .skin-indigo .nav-sidebar .nav-link svg {
      stroke-width: 1.5px; }
    .skin-indigo .nav-sidebar .nav-link.active {
      color: #F1FAFB; }
      .skin-indigo .nav-sidebar .nav-link.active svg {
        color: #F1FAFB; }
  .skin-indigo .nav-sidebar.style-one .nav-item.active .nav-link {
    background-color: rgba(160, 228, 241, 0.25);
    color: #F1FAFB; }
    .skin-indigo .nav-sidebar.style-one .nav-item.active .nav-link svg {
      fill: none; }
  .skin-indigo .nav-sidebar.style-one .nav-link {
    color: #7EA6F4; }
    .skin-indigo .nav-sidebar.style-one .nav-link:hover, .skin-indigo .nav-sidebar.style-one .nav-link:focus {
      background-color: rgba(126, 166, 244, 0.16);
      color: #A0E4F1; }
    .skin-indigo .nav-sidebar.style-one .nav-link.active {
      background-color: rgba(160, 228, 241, 0.25);
      color: #F1FAFB; }
      .skin-indigo .nav-sidebar.style-one .nav-link.active svg {
        fill: none; }
  .skin-indigo .nav-sidebar.style-two .nav-link::before,
  .skin-indigo .nav-sidebar.style-two .sub-link::before {
    background-color: #F1FAFB; }
  .skin-indigo .nav-sidebar.style-three .nav-link::before,
  .skin-indigo .nav-sidebar.style-three .nav-link:not(.with-sub)::after,
  .skin-indigo .nav-sidebar.style-three .sub-link::before {
    background-color: #F1FAFB; }
  .skin-indigo .nav-sidebar.style-two .nav-sub::before, .skin-indigo .nav-sidebar.style-three .nav-sub::before {
    border-color: rgba(126, 166, 244, 0.2); }
  .skin-indigo .sub-link {
    color: #7EA6F4; }
    .skin-indigo .sub-link:hover, .skin-indigo .sub-link:focus {
      color: #A0E4F1; }
    .skin-indigo .sub-link.active {
      color: #F1FAFB; }
  .skin-indigo .nav-group {
    border-top-color: #6163ea;
    border-bottom-color: #6163ea; }
  .skin-indigo .nav-group-label {
    color: rgba(126, 166, 244, 0.75); }
  .skin-indigo .avatar.online::after {
    box-shadow: 0 0 0 2px #4A4DE7;
    background-color: #20c997; }
  .skin-indigo .avatar-initial {
    background-color: #F1FAFB;
    color: #4A4DE7; }
  .skin-indigo .avatar-body h6 {
    color: #F1FAFB; }
  .skin-indigo .avatar-body span {
    color: #7EA6F4; }
  .skin-indigo .footer-menu {
    color: #7EA6F4; }
    .skin-indigo .footer-menu:hover {
      color: #A0E4F1; }

.skin-gradient {
  background-color: #f7f9fd; }
  .skin-gradient .sidebar {
    background-image: linear-gradient(60deg, #14184e, transparent 65%), linear-gradient(20deg, #854cc4 40%, transparent), linear-gradient(90deg, #1f32d9 30%, #6f85e2);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
    .skin-gradient .sidebar hr {
      background-color: rgba(255, 255, 255, 0.08); }
  .skin-gradient .sidebar-logo span {
    background-color: #FFF; }
    .skin-gradient .sidebar-logo span::before {
      background-color: #3EDBF0; }
    .skin-gradient .sidebar-logo span::after {
      background-color: #3EDBF0; }
  .skin-gradient .sidebar-logo-text {
    color: #fff; }
    .skin-gradient .sidebar-logo-text span {
      color: #3EDBF0; }
  .skin-gradient .search-body {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3);
    border-width: 1px; }
    .skin-gradient .search-body svg {
      color: rgba(255, 255, 255, 0.6);
      stroke-width: 1.5px; }
    .skin-gradient .search-body .form-control {
      color: #f7f9fc; }
    .skin-gradient .search-body .form-control::placeholder {
      color: rgba(247, 249, 252, 0.35); }
    .skin-gradient .search-body.onfocus {
      background-color: transparent;
      border-color: rgba(255, 255, 255, 0.6); }
      .skin-gradient .search-body.onfocus svg {
        color: rgba(255, 255, 255, 0.75); }
    .skin-gradient .search-body.onhover {
      border-color: rgba(255, 255, 255, 0.4); }
  .skin-gradient .nav-sidebar .nav-item.active .nav-link {
    color: #3EDBF0; }
    .skin-gradient .nav-sidebar .nav-item.active .nav-link svg {
      color: #3EDBF0; }
  .skin-gradient .nav-sidebar .nav-link {
    color: rgba(247, 249, 252, 0.6); }
    .skin-gradient .nav-sidebar .nav-link:hover {
      color: #f7f9fc; }
    .skin-gradient .nav-sidebar .nav-link svg {
      stroke-width: 1.5px; }
    .skin-gradient .nav-sidebar .nav-link.active {
      color: #3EDBF0; }
  .skin-gradient .nav-sidebar.style-one .nav-item.active .nav-link {
    color: #3EDBF0;
    background-color: rgba(247, 249, 252, 0.1); }
    .skin-gradient .nav-sidebar.style-one .nav-item.active .nav-link svg {
      fill: none; }
  .skin-gradient .nav-sidebar.style-one .nav-link {
    color: rgba(247, 249, 252, 0.5); }
    .skin-gradient .nav-sidebar.style-one .nav-link:hover {
      background-color: rgba(247, 249, 252, 0.05);
      color: #f7f9fc; }
    .skin-gradient .nav-sidebar.style-one .nav-link.active {
      background-color: rgba(247, 249, 252, 0.1);
      color: #3EDBF0; }
      .skin-gradient .nav-sidebar.style-one .nav-link.active svg {
        fill: none; }
  .skin-gradient .nav-sidebar.style-two .nav-link::before,
  .skin-gradient .nav-sidebar.style-two .sub-link::before {
    background-color: #3EDBF0; }
  .skin-gradient .nav-sidebar.style-three .nav-link::before,
  .skin-gradient .nav-sidebar.style-three .nav-link:not(.with-sub)::after,
  .skin-gradient .nav-sidebar.style-three .sub-link::before {
    background-color: #3EDBF0; }
  .skin-gradient .nav-sidebar.style-two .nav-sub::before, .skin-gradient .nav-sidebar.style-three .nav-sub::before {
    border-color: rgba(255, 255, 255, 0.06); }
  .skin-gradient .sub-link {
    color: rgba(255, 255, 255, 0.4); }
    .skin-gradient .sub-link:hover, .skin-gradient .sub-link:focus {
      color: rgba(255, 255, 255, 0.6); }
    .skin-gradient .sub-link.active {
      color: rgba(255, 255, 255, 0.8); }
  .skin-gradient .nav-group {
    border-top-color: rgba(255, 255, 255, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.1); }
  .skin-gradient .nav-group-label {
    color: #fff; }
  .skin-gradient .avatar.online::after {
    box-shadow: 0 0 0 2px #272162; }
  .skin-gradient .avatar-initial {
    background-color: #77ACF1;
    color: #fff; }
  .skin-gradient .avatar-body h6 {
    color: #f7f9fc; }
  .skin-gradient .avatar-body span {
    color: #627293; }
  .skin-gradient .footer-menu {
    color: #627293; }
    .skin-gradient .footer-menu:hover {
      color: #394867; }
*/
.animate .sidebar {
  transition: all 0.3s; }
  @media (prefers-reduced-motion: reduce) {
    .animate .sidebar {
      transition: none; } }

.animate .sidebar-header {
  overflow: hidden;
  transition: padding 0.3s; }
  @media (prefers-reduced-motion: reduce) {
    .animate .sidebar-header {
      transition: none; } }

.animate .sidebar-logo,
.animate .sidebar-logo-text {
  transition: all 0.3s; }
  @media (prefers-reduced-motion: reduce) {
    .animate .sidebar-logo,
    .animate .sidebar-logo-text {
      transition: none; } }

.animate .sidebar-search {
  transition: padding 0.3s; }
  @media (prefers-reduced-motion: reduce) {
    .animate .sidebar-search {
      transition: none; } }

.animate .search-body svg,
.animate .search-body .form-control {
  transition: all 0.3s; }
  @media (prefers-reduced-motion: reduce) {
    .animate .search-body svg,
    .animate .search-body .form-control {
      transition: none; } }

.animate .nav-sidebar {
  overflow: hidden;
  transition: padding 0.3s; }
  @media (prefers-reduced-motion: reduce) {
    .animate .nav-sidebar {
      transition: none; } }
  .animate .nav-sidebar .nav-link svg,
  .animate .nav-sidebar .nav-link span {
    transition: all 0.3s; }
    @media (prefers-reduced-motion: reduce) {
      .animate .nav-sidebar .nav-link svg,
      .animate .nav-sidebar .nav-link span {
        transition: none; } }

.animate .nav-sub {
  transition: opacity 0.2s; }
  @media (prefers-reduced-motion: reduce) {
    .animate .nav-sub {
      transition: none; } }

.animate .sub-link {
  transition: all 0.3s; }
  @media (prefers-reduced-motion: reduce) {
    .animate .sub-link {
      transition: none; } }

.animate .avatar {
  transition: all 0.3s; }
  @media (prefers-reduced-motion: reduce) {
    .animate .avatar {
      transition: none; } }

.animate .avatar-body,
.animate .sidebar-footer {
  transition: all 0.3s; }
  @media (prefers-reduced-motion: reduce) {
    .animate .avatar-body,
    .animate .sidebar-footer {
      transition: none; } }

.animate .content {
  transition: all 0.3s; }
  @media (prefers-reduced-motion: reduce) {
    .animate .content {
      transition: none; } }

.ps {
  overflow: hidden; }
  .ps > .ps__rail-y {
    width: 2px;
    background-color: rgba(53, 88, 140, 0.06);
    z-index: 10;
    position: absolute;
    left: auto !important;
    right: 0;
    opacity: 0;
    margin: 1px;
    transition: opacity 0.2s; }
    @media (prefers-reduced-motion: reduce) {
      .ps > .ps__rail-y {
        transition: none; } }
    .ps > .ps__rail-y > .ps__thumb-y {
      position: absolute;
      border-radius: 0;
      width: 2px;
      left: 0;
      background-color: #d8dee6; }
  .ps.ps--active-y:hover > .ps__rail-y, .ps.ps--active-y:focus > .ps__rail-y {
    opacity: 1; }

.scrollbar-sm > .ps__rail-y {
  width: 1px; }
  .scrollbar-sm > .ps__rail-y > .ps__thumb-y {
    width: 1px; }

.scrollbar-lg > .ps__rail-y {
  width: 6px; }
  .scrollbar-lg > .ps__rail-y > .ps__thumb-y {
    width: 6px; }
